.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-container {
  box-shadow: 10px 10px;
  max-width: 500px;
  max-height: 500px;
  border: 1px solid;
}

.chat {
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: rgb(77, 168, 253, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chat::-webkit-scrollbar {
  display: none;
  /* Chrome */
}

.input-chat-container {
  padding: 10px;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  background-color: rgb(53, 253, 220);
}

.input-chat {
  width: 100%;
  min-height: 25px;
  outline: none;
  border: 1px solid black;
}

.submit-chat {
  max-width: 50px;
  background-color: rgb(0, 55, 128);
  outline: none;
  border: 1px solid rgb(0, 55, 128);
  cursor: pointer;
  margin-left: 5px;
  color: white;
}

.submit-chat:hover {
  width: 50px;
  background-color: rgb(16, 108, 230);
}

.my-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.my-message {
  padding: 5px;
  width: fit-content;
  min-width: 100px;
  max-width: 300px;
  background-color: rgb(77, 253, 215);
  border: 1px solid black;
  box-shadow: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.another-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.another-message {
  max-width: 300px;
  padding: 5px;
  width: fit-content;
  background-color: rgb(212, 253, 77);
  border: 1px solid black;
  box-shadow: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.client {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.message {
  margin-top: 3px;
  margin-bottom: 0px;
}
